@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.ff-Rubik {
    font-family: "Rubik", sans-serif;
}

/* nav css */

.line {
    background-color: #F53855;
    height: 4px;
    width: 100%;
    margin: 5px 0px;
}

input[type="checkbox"] {
    display: none;
    pointer-events: none;
}

.nav-sticky {
    position: sticky;
    top: 0px;
    /* box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.05); */
    background-color: #ffffff;
    z-index: 23;
}

.nav-btn {
    border: 2px solid#F53855;
    color: #F53855;
    border-radius: 50px;
    padding: 10px 40px;
}

.nav-btn:hover {
    border: 2px solid#F53855;
    color: #ffffff;
    background-color: #F53855;
    transition: linear 0.5s;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 400px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
}

.mw-555px {
    max-width: 555px;
}

.hero-btn {
    border: none;
    background-color: #F53855;
    color: #ffffff;
    border-radius: 15px;
    padding: 20px 90px;

}

.webkit {
    -webkit-text-stroke: transparent;
    transition: .4s;
}

.webkit:hover {
    -webkit-text-stroke: 1.5px;
}

.hero-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(245, 56, 56, 0.35), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.border-right {
    border-right: 2px solid #EEEFF2;
    height: 90px;
}

.shadow-box {
    border: 2px solid #FDFDFD;
    border-radius: 10px;
}

.shadow-box:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.mw-383px {
    max-width: 383.41px;
}

.mw-427px {
    max-width: 430.88px;
}

.lh-30px {
    line-height: 30px;
}

.lh-50px {
    line-height: 50px;
}

.color-db {
    color: #0B132A;
}

.bg-FAFAFA {
    background-color: #FAFAFA;
}

.box-s-2 {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 50px;
}

.box-s-2:hover {
    border: 2px solid #F53855;
    transition: linear 0.5s;
}

.select-btn {
    border: 2px solid #F53855;
    color: #F53855;
    border-radius: 30px;
    padding: 10px 60px;
}

.select-btn:hover {
    background-color: #F53855;
    color: #ffffff;
    transition: linear 0.5s;
}

.mt-50 {
    margin-top: 80px;
}

.mt-40 {
    margin-top: 40px;
}












@media (max-width:992px) {
    #mobileview:checked~.nav_bar {
        left: 0;
        transition: 1s;
    }

    .nav_bar {
        justify-content: center;
        position: fixed;
        top: 0;
        right: 100%;
        left: -100%;
        margin-top: 60px;
        height: 100%;
        background-color: #ffffff;
        flex-direction: column;
        width: 100%;
        transition: all 0.8s linear;

    }

    .position {
        position: absolute;
    }

    .icon {
        height: 60px;
        width: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .space {
        gap: 30px;
    }

    .col-revrce {
        flex-direction: column-reverse;
    }

}